.cardContainer{
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer{
    background-color: #263238;
    color: white;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
    height: 10vh;
}

@media only screen and (max-width:768px) {
    .cardContainer{
        margin: 40px 5px;
    }
}

